<%- include("header") -%>
    <h2>This is about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio unde, aut natus dignissimos repellat
        accusantium
        optio quos! Possimus libero iure quibusdam? Repudiandae pariatur qui officiis voluptatum enim quo ullam
        consectetur?
    </p>
    <%- include("footer") -%>